@model WebEnvironment_Hackathon_GaMo.Models.EmailData


<h4 class="text-info mt-4">Send Email</h4>
<hr class="text-info" />
<div class="alert alert-info alert-dismissible fade show text-secondary indexText" role="alert">
    <h5 class="text-info mt-3">Chào mừng đến trang gửi mail!</h5>

    <a asp-controller="EmailData" asp-action="SendEmail" class="btn btn-outline-info mt-2">Đi tới gửi mail</a>

</div>