<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-70">
                            <h2>Về chúng tôi</h2>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/Home/Index">Trang chủ</a></li>
                                    <li class="breadcrumb-item"><a href="/About/Index">Về chúng tôi</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!--? Services Area Start -->
    <div class="service-area section-padding30">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-11">
                    <div class="single-cat text-center mb-30">
                        <div class="cat-icon">
                            <img src="https://blog.enduramaxx.co.uk/hubfs/How-To-Keep-Drinking-Water-Clean-And-Fresh.jpg" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5><a href="#">Nước sạch</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-11">
                    <div class="single-cat active text-center mb-30">
                        <div class="cat-icon">
                            <img src="https://www.worldatlas.com/r/w1200/upload/89/99/3b/shutterstock-1263201358.jpg" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5><a href="#">Tái sử dụng</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-11">
                    <div class="single-cat text-center mb-30">
                        <div class="cat-icon">
                            <img src="https://u4d2z7k9.rocketcdn.me/wp-content/uploads/2023/07/Untitled-683-%C3%97-1024px-1024-%C3%97-683px-2023-07-12T154605.688.jpg" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5><a href="#">Năng lượng sạch</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Area End -->
    <!--? About Area Start -->
    <section class="support-company-area fix pb-padding">
        <div class="support-wrapper align-items-center">
            <div class="left-content">
                <!-- section tittle -->
                <div class="section-tittle section-tittle2 mb-30">
                    <span>Tại sao chúng ta nên tái chế rác ?</span>
                    <h2>Sự nóng lên toàn cầu (Global warming) hiện nay do con người tạo ra</h2>
                </div>
                <div class="support-caption">
                    <p class="pera-top">
                        Sự nóng lên toàn cầu do con người chưa biết cách bảo vệ môi trường, đặc biệt trong việc phân loại,
                        xử lý rác thải, có những loại rác có khả năng tái chế nhưng được xử lý bằng nhiệt độ như những rác hữu cơ khác gây ra hiệu ứng nhà kính
                        dẫn đến hiện tượng  trái đất nóng dần và làm chất lượng không khí giảm mạnh.
                    </p>
                    <a href="#" class="border-btn">Hãy chung tay bảo vệ môi trường</a>
                </div>
            </div>
            <div class="right-content">
                <!-- img -->
                <div class="right-img">
                    <img src="https://api.hub.jhu.edu/factory/sites/default/files/styles/landscape/public/earth-core.jpg" alt="">
                </div>
            </div>
        </div>
    </section>

   
    <!-- About Area End -->
</main>
